.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

*.swp
profile

DerivedData/

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
lib/com/flutter/http/NetworkManager.dart
.android/*
.android/local.properties
.android/.gradle/6.7/gc.properties
.android/.gradle/6.7/executionHistory/executionHistory.bin
.android/.gradle/6.7/executionHistory/executionHistory.lock
.android/.gradle/6.7/fileChanges/last-build.bin
.android/.gradle/6.7/fileHashes/fileHashes.bin
.android/.gradle/6.7/fileHashes/fileHashes.lock
.android/.gradle/6.7/fileHashes/resourceHashesCache.bin
.android/.gradle/6.7/javaCompile/classAnalysis.bin
.android/.gradle/6.7/javaCompile/jarAnalysis.bin
.android/.gradle/6.7/javaCompile/javaCompile.lock
.android/.gradle/6.7/javaCompile/taskHistory.bin
.android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
.android/.gradle/buildOutputCleanup/cache.properties
.android/.gradle/buildOutputCleanup/outputFiles.bin
.android/.gradle/checksums/checksums.lock
.android/.gradle/configuration-cache/gc.properties
.android/.gradle/vcs-1/gc.properties
